body {

}

#devices .ui-button {
    border-radius: 4px;
    text-align: left;
    margin: 5px;
}

#urlText {
    margin: 10px 5px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #999;
    width: 60%;
}